ReportManagerApp/Connected Services/ReportServiceReference/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShowAllAlarmsInTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sortByPriority" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllAlarmsInTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowAllAlarmsInTimePeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowAlarmsByPriorityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowTagValuesInTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowTagValuesInTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowTagValuesInTimePeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowLastValuesOfAITags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowLastValuesOfAITagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowLastValuesOfAITagsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowLastValuesOfDITags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowLastValuesOfDITagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowLastValuesOfDITagsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowValuesOfTagById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowValuesOfTagByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowValuesOfTagByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>