DatabaseManagerApp/Connected Services/AlarmServiceReference/AlarmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AlarmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60822/AlarmService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60822/AlarmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60822/AlarmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scada.models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmService_AddAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_AddAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAllAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlarms" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAllAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_RemoveAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_RemoveAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAlarmsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByName" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_GetAlarmsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmService">
    <wsdl:operation name="AddAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/AddAlarm" message="tns:IAlarmService_AddAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/AddAlarmResponse" message="tns:IAlarmService_AddAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/GetAllAlarms" message="tns:IAlarmService_GetAllAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/GetAllAlarmsResponse" message="tns:IAlarmService_GetAllAlarms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/RemoveAlarm" message="tns:IAlarmService_RemoveAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/RemoveAlarmResponse" message="tns:IAlarmService_RemoveAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/GetAlarmsByName" message="tns:IAlarmService_GetAlarmsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/GetAlarmsByNameResponse" message="tns:IAlarmService_GetAlarmsByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmService" type="tns:IAlarmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/AddAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAlarms">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/GetAllAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/RemoveAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByName">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/GetAlarmsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmService">
    <wsdl:port name="BasicHttpBinding_IAlarmService" binding="tns:BasicHttpBinding_IAlarmService">
      <soap:address location="http://localhost:60822/AlarmService.svc/alarm" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>